body {
    font-family: -apple-system,
    Roboto, Noto Sans, Ubuntu, Droid Sans, Helvetica Neue,
    sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;

    margin: 0;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
